<a href="https://colab.research.google.com/github/andresFelipeGiraldoYusti/PROYECTO_MODELOS_II_eeg-eye-state/blob/main/notebooks/Leer_database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# === 1. Montar Google Drive ===
from google.colab import drive
drive.mount('/content/drive')

# === 2. Instalar librerías necesarias ===
!pip install -q liac-arff pandas

# === 3. Importar librerías ===
import arff
import pandas as pd
import os # Import the os module

# === 4. Definir la ruta del archivo ARFF ===
ruta = "/content/drive/MyDrive/Practica_MODELOS_II/data/phplE7q6h.arff"

# === 5. Verificar la existencia del archivo ===
if not os.path.exists(ruta):
    print(f"❌ Error: El archivo no se encontró en la ruta: {ruta}")
else:
    # === 6. Cargar el archivo ARFF ===
    with open(ruta, "r", encoding="utf-8") as f:
        arff_data = arff.load(f)

    # Extraer nombres de columnas
    columnas = [attr[0] for attr in arff_data['attributes']]

    # Crear DataFrame con pandas
    df = pd.DataFrame(arff_data['data'], columns=columnas)

    # === 7. Mostrar información básica ===
    print("✅ Archivo cargado correctamente")
    print("Dimensiones:", df.shape)
    print("Columnas:", columnas[:10], "..." if len(columnas) > 10 else "")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
✅ Archivo cargado correctamente
Dimensiones: (14980, 15)
Columnas: ['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10'] ...

In [ ]:
df.head(100)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,Class
0,4329.23,4009.23,4289.23,4148.21,4350.26,4586.15,4096.92,4641.03,4222.05,4238.46,4211.28,4280.51,4635.90,4393.85,1
1,4324.62,4004.62,4293.85,4148.72,4342.05,4586.67,4097.44,4638.97,4210.77,4226.67,4207.69,4279.49,4632.82,4384.10,1
2,4327.69,4006.67,4295.38,4156.41,4336.92,4583.59,4096.92,4630.26,4207.69,4222.05,4206.67,4282.05,4628.72,4389.23,1
3,4328.72,4011.79,4296.41,4155.90,4343.59,4582.56,4097.44,4630.77,4217.44,4235.38,4210.77,4287.69,4632.31,4396.41,1
4,4326.15,4011.79,4292.31,4151.28,4347.69,4586.67,4095.90,4627.69,4210.77,4244.10,4212.82,4288.21,4632.82,4398.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4296.41,4003.59,4262.56,4136.92,4340.51,4605.13,4096.41,4619.49,4197.44,4214.36,4193.33,4270.77,4607.18,4347.18,1
96,4298.97,4006.15,4265.64,4131.79,4329.23,4604.62,4088.72,4612.82,4194.87,4211.79,4196.92,4276.41,4613.85,4358.97,1
97,4314.87,4018.97,4283.08,4142.05,4337.95,4600.00,4084.10,4608.72,4201.54,4226.67,4215.38,4293.33,4629.74,4377.95,1
98,4323.08,4019.49,4289.74,4151.79,4345.13,4596.92,4083.08,4613.85,4211.28,4244.62,4224.10,4300.51,4635.90,4378.97,1
99,4309.74,4008.21,4281.03,4141.03,4334.36,4602.05,4084.62,4618.97,4212.82,4242.05,4213.33,4289.74,4625.64,4363.59,1

In [ ]:
df.tail(100)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,Class
14880,4277.44,4012.82,4245.13,4113.33,4329.23,4617.95,4072.31,4615.38,4197.95,4226.15,4197.44,4265.13,4602.05,4338.97,1
14881,4282.56,4016.41,4246.67,4114.36,4336.92,4618.97,4074.87,4613.33,4191.28,4220.00,4194.36,4264.10,4600.51,4346.15,1
14882,4291.79,4026.15,4247.69,4121.03,4343.08,4616.92,4072.31,4610.26,4186.15,4213.33,4197.95,4263.08,4601.54,4349.23,1
14883,4290.77,4028.72,4247.69,4124.62,4338.46,4616.41,4071.28,4612.82,4189.74,4215.90,4200.00,4265.64,4606.15,4345.64,1
14884,4286.15,4024.62,4247.69,4123.08,4335.38,4617.44,4070.26,4615.90,4190.77,4218.97,4197.95,4264.62,4607.18,4347.18,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14975,4281.03,3990.26,4245.64,4116.92,4333.85,4614.36,4074.87,4625.64,4203.08,4221.54,4171.28,4269.23,4593.33,4340.51,2
14976,4276.92,3991.79,4245.13,4110.77,4332.82,4615.38,4073.33,4621.54,4194.36,4217.44,4162.56,4259.49,4590.26,4333.33,2
14977,4277.44,3990.77,4246.67,4113.85,4333.33,4615.38,4072.82,4623.59,4193.33,4212.82,4160.51,4257.95,4591.79,4339.49,2
14978,4284.62,3991.79,4251.28,4122.05,4334.36,4616.41,4080.51,4628.72,4200.00,4220.00,4165.64,4267.18,4596.41,4350.77,2
14979,4287.69,3997.44,4260.00,4121.03,4333.33,4616.41,4088.72,4638.46,4212.31,4226.67,4167.69,4274.36,4597.95,4350.77,2

In [ ]:
clase1 = df[df['Class'] == "1"]
clase2 = df[df['Class'] == "2"]

print("Filas clase 1:", len(clase1))
print("Filas clase 2:", len(clase2))

Filas clase 1: 8257
Filas clase 2: 6723